<div id="landing">
  <h1>StepOutside</h1>
  <h3 class="text-center">A time and weather web app</h3>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6" id="searchdiv">
    <span class="glyphicon glyphicon-search" id="go"></span>
     <input type="search" name="location" id="search" placeholder="Search for any city..." autocomplete="off" autofocus="autofocus">
  </div>
</div>
<div class="info text-center"><p><small><em>Just begin typing to select your city</em></small></p></div>
<div class="row" id="main">

  <div class="col-md-5 text-right card">
    <h1 class="text-left">Weather</h1>
      <div class="col-sm-6 text-center hidden-xs">
         <%= image_tag "icons/na.png", :id => "weather-img", :width => "75%" %>
      </div>
      <div class="text-left clearfix">
              Summary: <strong><span id="summary"></span></strong>
      <br>    Temperature: <strong><span id="temperature"></span></strong>
      <br>    Feels like: <strong><span id="apptemperature"></span></strong>
      <br>    Chance of Rain: <strong><span id="rainchance"></span></strong>
      <br>    Max Temperature: <strong><span id="maxtemperature"></span></strong>
      <br>    Min Temperature: <strong><span id="mintemperature"></span></strong>
      <br>    Wind Speed: <strong><span id="windspeed"></span></strong>
      <br>    Cloud Cover: <strong><span id="cloudcover"></span></strong>
      <br>    Humidity: <strong><span id="humidity"></span></strong>
      </div>
      <a href="#" id="see-more">More</a>
      <div class="col-md-12 text-left" id="more">
        <hr>
        <h4>More info</h4>
              Sunrise Time: <strong><span id="sunrise"></span></strong>
      <br>    Sunset Time: <strong><span id="sunset"></span></strong>
      </div>
  </div>

  <div class="col-md-5 text-left card">
    <h1 class="text-left">Time</h1>
    <div class="row">
      <div class="col-sm-6">
              Current Time: <strong><span id="currenttime"></span></strong>
      <br>    Time Zone: <strong><span id="timezone"></span></strong>
      <br>    Offset: <strong><span id="offset"></span></strong>
      <br>    Latitude: <strong><span id="latitude"></span></strong>
      <br>    Longitude: <strong><span id="longitude"></span></strong>
      </div>
      <div class="col-sm-6">
              <h3>Local</h3>
              Local Time: <strong><span id="localtime"></span></strong>
      <br>    Time Zone: <strong><span id="localtimezone"></span></strong>
      </div>
    </div>
      <br>
      <div class="row">
      <div class="col-md-12">
        <hr>
        <h3>Location</h3>
        <strong><span id="location"> &nbsp; </span></strong>
      </div>
    </div>
  </div>

</div>