<div class="row">
  <div class="col-lg-6">
    <span class="glyphicon glyphicon-search" id="go"></span>
     <input type="search" name="location" id="search" placeholder="Search for any city...">
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-left">
    <h1 class="text-left">Location</h1>
<br>    Current Time: <strong><span id="currenttime"></span></strong>
<br>    Time Zone: <strong><span id="timezone"></span></strong>
<br>    Offset: <strong><span id="offset"></span></strong>
<br>    Latitude: <strong><span id="latitude"></span></strong>
<br>    Longitude: <strong><span id="longitude"></span></strong>
<br>    <h4>Local</h4>
        Local Time: <strong><span id="localtime"></span></strong>
<br>    Time Zone: <strong><span id="localtimezone"></span></strong>
  </div>
  <div class="col-md-6 text-right">
    <h1 class="text-right">Weather</h1>
<div class="col-md-6 text-left">
<br>    Summary: <strong><span id="summary"></span></strong>
<br>    Sunrise Time: <strong><span id="sunrise"></span></strong>
<br>    Sunset Time: <strong><span id="sunset"></span></strong>
<br>    Chance of Rain: <strong><span id="rainchance"></span></strong>
<br>    Apparent Temperature: <strong><span id="apptemperature"></span></strong>
<br>    Temperature: <strong><span id="temperature"></span></strong>
<br>    Max Temperature: <strong><span id="maxtemperature"></span></strong>
<br>    Min Temperature: <strong><span id="mintemperature"></span></strong>
<br>    Wind Speed: <strong><span id="windspeed"></span></strong>
<br>    Cloud Cover: <strong><span id="cloudcover"></span></strong>
<br>    Humidity: <strong><span id="humidity"></span></strong>
</div>
<div class="col-md-6 text-right">
   <%= image_tag "icons/na.png", :id => "weather-img", :width => "100%" %>
</div>
  </div>
</div>