<div class="row">
  <div class="input-group col-xs-24 col-md-8">
    <input type="search" name="location" id="search" placeholder="Search for any city...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
          Go!
        </button>
      </span>
  </div>
</div>
<h4>
	Weather: <span id="temperature"></span>
  <br>
  Time Zone: <span id="timezone"></span>
</h4>