<div class="center hero-unit">
  <h1>Welcome to StepOutside</h1>

  <h2>
    This is the home page for the StepOutside application.
  </h2>
  <form action="#">
  	<input type="search" name="location" id="search">
  	<input type="submit" value="Search">
  </form>
  <h4>
  	Weather: <span id="temperature"></span>
    <br>
    Time Zone: <span id="timezone"></span>
  </h4>
</div>