<div class="row">
  <div class="col-lg-6">
    <span class="glyphicon glyphicon-search" id="go"></span>
     <input type="search" name="location" id="search" placeholder="Search for any city...">
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-left">
    <h1 class="text-left">Location</h1>
<br>    Current Time: <span id="currenttime"></span>
<br>    Time Zone: <span id="timezone"></span>
<br>    Offset: <span id="offset"></span>
<br>    Latitude: <span id="latitude"></span>
<br>    Longitude: <span id="longitude"></span>
<br>    <h4>Local</h4>
        Local Time: <span id="localtime"></span>
<br>    Time Zone: <span id="localtimezone"></span>
  </div>
  <div class="col-md-6 text-right">
    <h1 class="text-right">Weather</h1>
<div class="col-md-6 text-left">
<br>    Summary: <span id="summary"></span>
<br>    Icon: <span id="icon"></span>
<br>    Sunrise Time: <span id="sunrise"></span>
<br>    Sunset Time: <span id="sunset"></span>
<br>    Chance of Rain: <span id="rainchance"></span>
<br>    Apparent Temperature: <span id="apptemperature"></span>
<br>    Temperature: <span id="temperature"></span>
<br>    Max Temperature: <span id="maxtemperature"></span>
<br>    Min Temperature: <span id="mintemperature"></span>
<br>    Wind Speed: <span id="windspeed"></span>
<br>    Cloud Cover: <span id="cloudcover"></span>
<br>    Humidity: <span id="humidity"></span>
<br>    Pressure: <span id="pressure"></span>
</div>
<div class="col-md-6 text-right">
   <%= image_tag "icons/na.png", :id => "weather-img", :width => "100%" %>
</div>
  </div>
</div>