<footer class="footer">
  <div class="container-fluid">
    <small>
      <a href="http://github.com/pbaisla/stepoutside">StepOutside</a>
      by Trenzalore
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>